% vim: set ft=erlang expandtab softtabstop=4 shiftwidth=4:

{erl_opts, [
        %debug_info
        ]}.

{lib_dirs, ["deps"]}.

{deps, [{edown, ".*", {git, "git://github.com/esl/edown.git", {tag, "0.4"}}}]}.

{edoc_opts, [{doclet, edown_doclet}]}.

{plugins, [
        ]}.

{xref_checks, [
        undefined_function_calls,
        undefined_functions,
        locals_not_used,
        exports_not_used,
        deprecated_function_calls,
        deprecated_functions
        ]}.
